body { 
    background: url(https://gamerwall.pro/uploads/posts/2022-03/1648744783_1-gamerwall-pro-p-kreativnii-fon-s-dnem-rozhdeniya-krasivie-1.jpg); 

}
aside {
    color: blue;
    font-family: 'Comfortaa', cursive;
    font-size: 36px;
    float:right;
    width: 340px;
    margin-top: 15%;

}
